# if you want to schedule automatic launch of the script edit crontab by typing in shell: crontab -e
# add the following line to crontab file (replace full/path/to/ with your project path)
# in this example it will launch a program 1min after reboot:

@reboot sleep 60 && /full/path/to/venv/bin/python3 /full/path/to/forestclub.py >> ~/cron.log 2>&1

# alternative solution - launch a program once a day at midnight:
# @daily /full/path/to/venv/bin/python3 /full/path/to/forestclub.py >> ~/cron.log 2>&1
